@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  border: solid #101010;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #d9d9d9;
  box-shadow: 10px 10px 100px 5px rgba(0, 0, 0, 0.44);
}

img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  border-top: 1px solid #e2e8f0;
  background-color: #d9aca3;
  margin-bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 125px;
  align-content: center;
  align-items: baseline;
}

.footerBox1 {
  width: 1fr;
  padding: 10px;
}

.footerBox2 {
  width: 1fr;
  padding: 10px;
}

.igIcon img {
  max-width: 50px;
  max-height: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #fffdfd;
  height: 100px;
  min-width: 40px;
  margin-top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Mostra Nuova;
  font-size: 2rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  justify-content: flex-end;
  font-size: 1.6rem;
  font-size: 98%;
  font-weight: 400;
  color: #475569;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #3ba55d;
}

.nav-logo {
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 5px;
  height: 90px;
  width: 300px;
  background-image: url(images/logo.png);
  background-position: left top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fpSplashbillede {
  width: 100%;
  display: block;
  max-height: 80vh;
  padding: 10px 0 10px 0;
}

.fpH1 {
  color: #405927;
  text-align: center;
}

.fpH2 {
  color: #6d8c3e;
  text-align: center;
  font-style: italic;
}

.fpParagraph {
  text-align: center;
}

.divider {
  margin: 0 auto;
  width: 530px;
  color: #3ba55d;
  border: 2px solid;
  margin-top: 50px;
}

.navFiltrering {
  margin: 40px;
}

#liste {
  margin: 10px;
  padding: 5px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
